@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background-color: #b6bcf7;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    color: #181926;
}
  

.round-1 {
  border-radius: 0.5rem;
}
.round-2 {
  border-radius: 1rem;
}
.round-3 {
  border-radius: 1.5rem;
}
  
.flex {
  justify-content: flex;
}

.nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #b7bdf8;
  height: 2rem;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 95%;
  padding-bottom: 0.5rem;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5rem;

}

.nav-header {
    font-size: large;
    margin-left: .5%;
    text-align: center;
    text-decoration: none;
}

.text-center {
  text-align: center;
  position: relative;
  padding: 1rem;
}

.center-10 {
    padding-left: 0% !important;
    padding-right: 0% !important;

    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}
.center-20 {
    padding-left: 0% !important;
    padding-right: 0% !important;

    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
.center-30 {
    padding-left: 0% !important;
    padding-right: 0% !important;

    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
.center-40 {
    padding-left: 0% !important;
    padding-right: 0% !important;

    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.center-50 {
    padding-left: 0% !important;
    padding-right: 0% !important;

    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.center-60 {
    margin-left: 20%;
    margin-right: 20%;
}
.center-70 {
    padding-left: 0% !important;
    padding-right: 0% !important;

    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.center-80 {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.center-nav {
    padding-left: 1%;
    padding-right: 1%;  
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.vertical-center-div{
    display:table;
}
.vertical-center{
    vertical-align: middle;
    display:table-cell;
}

.box {
    margin: 1rem;
    margin-top: 2rem !important;
}
.text-box-light {
    color: #cad3f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding:1rem;
}

.text-box-dark {
    color: #181926;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding:1rem;
}

.bg-dark {
    background-color: #181926;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.bg-grey {
    background-color: #6e738d;
    box-shadow: 2px 2px 0.7px 0.5px black;
}
.bg-peach {
    background-color: #f5e0dc !important;
    box-shadow: 2px 2px 0.7px 0.5px black;
}

.load:hover {
    cursor:e-resize;
}


.btn-bright {
    padding: 1rem;
    background-color: #f5e0dc;
    box-shadow: 2px 2px 0.7px 0.5px black;
    color:#181926;
    cursor: pointer;
    font-family: 'Poppins', sans-serif
}

.btn-dark {
    padding: 1rem;
    background-color: #181926;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: #f5e0dc;
    cursor: pointer;
    border-color: #181926;
    font-family: 'Poppins', sans-serif
}
.btn-dark:hover{
    transform: scale(1.1)!important;
}

.btn-bright:hover{
    transform: scale(1.1)!important;
}

.btn-disabled {
    padding: 1rem;
    background-color: #6e738da4;
    box-shadow: none;
    color: lightgray;
    cursor: not-allowed;
    border-color: #6e738da4;
    font-family: 'Poppins', sans-serif
}

.text {
    color:#181926; text-align:center;
}
.input-dark {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    color: #f5e0dc;
    font-size: larger;
    border-color: black;
    border-style: inherit;
    padding: 1rem;
}

.input-bright {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: #f5e0dc;
    color: #181926;
    font-size: larger;
    border-color: black;
    border-style: inherit;
    padding: 1rem;
}

footer {
    position: fixed;
    background-color: #181926;
    left: 0;
    bottom: 0;
    height: 6%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
  }