@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.center {
  width: 10rem;
  position: absolute;
  display: block;
  margin: 0 auto;
  height: auto;
  margin-top: -3rem;
}


.header {
  font-size: 400%;
  color: #00475c !important;
  font-weight: 500;
  font-family: "Noto Sans";
}

    
.bg-div {
  width: 100%;
  height: 100%;
}

.list {
  margin-left: 5%;
  margin-right: 30%;
}

.line{
  margin-top: 16.5%;
  left: 47.67%;
  width: 300px;
  position:absolute;
  border: 3px rgb(109, 223, 223) dotted;
}


.title{
  margin-top: 60%;
  font-size: 300%;
  text-decoration:underline;
}

.gifttext{
  background-color: #181926;
  text-align: center;
  font-size: small;
  color: #cad3f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding:1rem;
}

.giftheader {
  position: absolute;
  margin-top: 2rem;
  width: 40%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #181926;
  text-align: center;
  color: #cad3f5;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 0.5rem;
}

.cbutton {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  padding: 1rem;
}

.clist {
  color:#00475c;
  background-color: #b7bdf8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.listcontainer {
  margin: 2.5rem;
}

.mobile-content {
  padding-top: 25rem !important;
  margin-top: 8rem !important;
  width: 90% !important;
  margin-right: 5%;
  margin-left: 5%;
}



#preview-audio {
  margin-top: 5rem;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  background-color: #181926;
}


#preview-image {
  border-radius: 1rem !important;
  
}

#preview-document {
  width: 21cm;
  height: 29.7cm;
}

.main-menu-button {
  font-size: 2rem;
  padding: 5rem 1rem 5rem 1rem !important;
}

.stats {
  margin-top: 3rem;
  width: 80%;
}

.btn {
  cursor: pointer;
  transition: all 0.1s ease-in!important;
}

.btn:hover {
  transform: scale(1.1)!important;
  background-color: #b7bdf8;
  border-style: solid;
  border-color: #cad3f5;
  border-width: 0.4rem;
  color: white;
}

.div50 {
  height: 100%;
  display: block;
}


.share {
  border-style: inherit;
  box-shadow: 2px 2px 2px 2px black !important;
  height: 8rem;
  border: #181926;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  width: 50% !important;
}

.receive {
  border-style: inherit;
  box-shadow: 2px 2px 2px 2px black !important;
  height: 8rem;
  border: #181926;
  margin-top: 8rem;
  margin-left: 20%;
  margin-right: 20%;
  width: 50% !important;
}

.text_color {
  color: #cad3f5;
}

#overlay, #overlay-command{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(14, 14, 14, 0.705);
  z-index: 999;
  display: none;
}

#popup, #popup-command{
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background: #181926;
  z-index: 1000;
  width: 600px;
  height: 370px;
  display: none;
  border-radius: 10px;
}

#popup-command{
  position: fixed;
  top: 10%;
  left: 10%;
  background: #181926;
  z-index: 1000;
  width: 80%;
  height: 370px;
  display: none;
  border-radius: 10px;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#popup p, #popup-command p{
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: white;
  margin-right: 10%;
  margin-left: 10%;
}

#popup button {
  padding: 10px 20px;
  background-color: #b6bcf7;
  color: #fff;
  width: 80%;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2.5rem;
  border: none;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#popup button:hover {
  background-color: #dfe2ff;

}
.close-popup {
  padding: 0!important;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.7rem;
  cursor: pointer;
  border-radius: 1rem;
  height: 60px;
  width: 60px;
}

.close-popup:hover {
  color: black;
  background-color:#cad3f5;
}

.show {
  display: block !important;
}
.show-overlay {
  position: fixed;
}